# VS code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# NFS
.nfs*

# Our logging
../serverSqlite/thread_logs/thread_pool-1-thread-*_log.txt

# OS addons 
.DS_store # Macbook 

a1/*_logs.txt
a1/savedConsistentHashing
a1/proxyServer/monitor-logging.txt
a1/proxyServer/proxy_logs.txt*